@import '../base/var';
@import '../base/keyframes';

/* Zmodyfikowany kod SCSS dla lewego menu */
.navbar {
     font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    //font-family: 'Source Serif 4', serif;
    font-weight: 600;
    background-color: $bg-primary-alpha-2 !important;
    padding: 20px 0;

    .container {
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        display: flex;
        align-items: center;
    }

    img {
        width: 50px;
        height: 50px;
        display: block;
    }

    &-center-menu {
        margin: 0;
        width: 25vw;

        ul.navbar-nav {
            font-size: 12.5px;
            list-style-type: none;
            display: flex;
            align-items: center;

            .nav-item {
                text-transform: uppercase;
                font-weight: lighter;
                display: flex;
                list-style-type: none;
                margin: 0 20px;

                .nav-link {
                    position: relative;
                    color: $text-primary;
                    transition: color 0.3s;
                    letter-spacing: 0.1em;
                    

                    &:hover {
                        color: $bg-accent-primary;
                    }

                    &::after {
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left: 50%;
                        position: absolute;
                        background: $bg-accent-primary;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }

                    &:hover::after {
                        width: 100%;
                        left: 0;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}