@import './cursor',
'./sidebrar.';

.biography {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: $bg-primary;

    &-background {
        /* Style tła ze zdjęciem, które zajmie całą powierzchnię .biography-container */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: url('/src/assets/img/bio/family.png') no-repeat center center;
        background-size: cover;
        background-position: 0 10%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        filter: brightness(10%);
    }

    &-container {
        position: relative;
        z-index: 102;
        height: 100%;
        width: 50vw;
        opacity: 0;
        transform: translateX(-50%);
    
        &-content {
            height: 75%;
            width: 100%;
    
            &-textarea {
                width: 100%;
                color: $text-primary;
    
                &-text {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: lighter;
                    font-size: 20px;
                    width: 75%;
                    color: $text-primary;
                    text-align: justify;
    
                    h3 {
                        font-family: $font-abril;
                        font-size: 40px;
                        letter-spacing: 5px;
                        color: $text-golden;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: lighter;
                        position: relative;
                        padding-bottom: 2px;
                        transition: all $transition-slow ease;
                    }
                }
            }
    
            &-photoarea {
                &-photo {
                    height: 57em;
                    width: 45em;
                }
        
                map {
                    width: 45em;
                    height: 57em;
                    position: absolute;
                    right:0;

        
                    area {
                        width: 100%;
                        height: 100%;
                        display: block;
                        outline: none;
                        transition: background-color 0.3s ease;
                    }
                }
            }
        }
    }
    
}